.nodedata {
    display: block;
    height: 50px;
    box-shadow: 3px 3px 15px rgb(194, 194, 194);
    margin-bottom: 50px;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    border-top:2px solid #663ab8;
    border-bottom:2px solid #663ab8;
}

.headtitle_ {
    display: block;
    width: 100px;
    height: 30px;
    padding-left: 10px;
    padding-top: 3px;
    background-color: #663ab8;
    font-family: Microsoft YaHei;
    font-size: medium;
    font-weight: bold;
    color: white;
}